.cards {
  padding: 0;
  margin: 0;
  width: 920px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 100px;
  row-gap: 60px;
  padding-top: 60px;
}