.footer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}